---
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>giarddesign</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="keywords" content="garden, design, giarddesign" />
    <meta name="description" content="Nowoczesna aranżacja Twojego ogrodu" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css" />
    <script defer src="../bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  * {
    font-family: "Inter", sans-serif;
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 5000;
  }

  :root {
    --beige: #dcc1ab;
    --green: #1b5b31;
    --grey: #f5f0ec;
    --dark: #111111;
    --lightGreen: #338650;
  }
</style>
